* {
    box-style: border-box;
  }
  
  :root {
    --clr-background: #fff;
    --clr-white: #ffffff;
    --clr-primary: #00b7ff;
    --clr-gray: #263238;
  
    --font-size: 16px;
    --border-radius: 0.2em;
  }
  
  body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: var(--font-size);
    color: var(--clr-gray);
    background-color: var(--clr-background);
  }
  
  #wrapper-main {
    margin: 8em;
  }

  
  
  #wrapper-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
  }
  
  .container {
    background-color: var(--clr-white);
    border-radius: var(--border-radius);
    padding: 1em;
    border-top: 4px solid var(--clr-primary);
  }
    h2 {
      margin-bottom: 0.2em;
      margin-top: 0.5em;
    }
  
    p.date {
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-bottom: -1em;
      margin-top: 0;
    }

    h1 {
        font-family: 'Lato', sans-serif;
        font-weight:300;
        letter-spacing: 2px;
        font-size:48px;
      }
      p {
        align-items: center;
      }
      
      .header {
        position:relative;
        text-align:center;
        background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
        color:white;
      }
      .logo {
        width:50px;
        fill:white;
        padding-right:15px;
        display:inline-block;
        vertical-align: middle;
      }
      
      .inner-header {
        height:65vh;
        width:100%;
        margin: 0;
        padding: 0;
      }
      
      .flex { /*Flexbox for containers*/
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      
      .waves {
        position:relative;
        width: 100%;
        height:15vh;
        margin-bottom:-7px; /*Fix for safari gap*/
        min-height:100px;
        max-height:150px;
      }
      
      .content {
        position:relative;
        height:20vh;
        text-align:center;
        background-color: white;
      }
      
      /* Animation */
      
      .parallax > use {
        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
      }
      .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }
      .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }
      .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }
      .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }
      @keyframes move-forever {
        0% {
         transform: translate3d(-90px,0,0);
        }
        100% { 
          transform: translate3d(85px,0,0);
        }
      }




      .footer-basic {
        padding:40px 0;
        background-color:#ffffff;
        color:#4b4c4d;
      }
      
      
      
      .footer-basic .copyright {
        margin-top:15px;
        text-align:center;
        font-size:13px;
        color:#00b7ff;
        margin-bottom:0;
      }
      /*Shrinking for mobile*/
      @media (max-width: 768px) {
        .waves {
          height:40px;
          min-height:40px;
        }
        .content {
          height:30vh;
        }
        h1 {
          font-size:24px;
        }
      }
  
  
  @media screen and (max-width: 550px) {
    body {
      --font-size: 12px;
    }
  
    #wrapper-grid {
      grid-template-columns: 1fr;
    }
  
  }
  